body
  background-color: #fff;

.home .hero img
  width: 50%;
  max-width: 250px;

// .content:not(.custom) {
//   margin: 0;
// }

.sidebar-link {
  font-size: 1.1em;
  font-weight: 700;
}

blockquote
  font-size: 1rem;
  margin-left: 10px;

a.sidebar-link.active {
  border-right: .25rem solid transparent;
  border-right-color: $accentColor;
  border-left: 0;
}

.sidebar
  background-color: #f4f5f7 !important;

//.hero
//  background: linear-gradient(300deg, #1c1c82 0%, #3e20ce 49%, #29b1d0 100%);

/* .home::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(300deg, #1c1c82 0%, #3e20ce 49%, #29b1d0 100%);
  transform-origin: 0;
  transform: skewY(-10deg);
  transform: skewY(-10deg);
  height: 80vh;
  z-index: -1;
}
.bg-gradient-lg::before {
  transform: skewY(-10deg);
  height: 80vh;
}*/